@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300;400;500;600&family=Roboto:wght@300;400;500;600&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-primary: #1c1c1c; /*Charcoal Black*/
  --color-secondary: #c2b280; /* Desert Sand */
  --color-accentA: #4b3621; /* Oud Brown */
  --color-accentB: #d4af37; /* Gold */
  --color-neutral: #f5f5f5; /* Off-White */
  --color-text: #6e6e6e; /* Smoky Gray */
  --color-gray: #6a7282;
  --color-light-gray: #e5e7eb;
  --font-noto-kufi: "Noto Kufi Arabic", "sans-serif";
  --font-roboto: "Roboto", "sans-serif";

  --animate-shine: shine 0.8s ease-in-out;
  @keyframes shine {
    0% {
      left: -75%;
    }
    100% {
      left: 125%;
    }
  }
}

body {
  font-family: "Roboto", sans-serif;
}

@layer utilities {
  .section-container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-10 pb-10;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .shine-effect {
    @apply absolute top-0 left-[-75%] w-[15%] h-full bg-white/30 skew-x-[-20deg];
  }

  .primary-btn {
    @apply bg-primary text-white h-10 px-6 rounded-md flex items-center justify-center;
  }

  .secondary-btn {
    @apply text-neutral bg-accentA hover:bg-accentA/90 duration-200 h-10 rounded-md px-6 flex items-center justify-center;
  }

  .responsive-grid {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5;
  }

  .card-style {
    @apply bg-light-gray shadow-xl overflow-hidden rounded-xl relative;
  }
  .card-title {
    @apply text-[0.9375rem] font-medium text-primary;
  }
  .action-btns {
    @apply flex items-center gap-3 absolute -top-20 right-2 duration-200 ease-in-out;
  }
  .btn {
    @apply text-neutral rounded-full bg-primary w-10 h-10 flex items-center justify-center cursor-pointer;
  }

  h3 {
    @apply font-bold text-primary text-[1.0625rem];
  }

  .product-label {
    @apply text-neutral px-4 py-1 text-sm bg-accentA rounded-lg;
  }

  .input {
    @apply focus:outline-none focus:placeholder:opacity-0 placeholder:duration-200;
  }
}
