@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300;400;500;600&family=Roboto:wght@300;400;500;600&display=swap");

@import "tailwindcss";
@import "tw-animate-css";
/*---break---*/
@custom-variant dark (&:is(.dark *));

::selection {
  background-color: var(--color-accentA);
  color: var(--color-neutral);
}
html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-primary: #1c1c1c; /*Charcoal Black*/
  --color-secondary: #c2b280; /* Desert Sand */
  --color-accentA: #4b3621; /* Oud Brown */
  --color-accentB: #d4af37; /* Gold */
  --color-neutral: #f5f5f5; /* Off-White */
  --color-text: #6e6e6e; /* Smoky Gray */
  --color-gray: #6a7282;
  --color-soft-gray: #99a1af;
  --color-light-gray: #e5e7eb;
  --font-noto-kufi: "Noto Kufi Arabic", Tahoma, Arial, sans-serif;
  --font-roboto: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif;

  --animate-shine: shine 0.8s ease-in-out;
  --animate-appear: appear 0.5s ease-in-out;
  --animate-wave: wave 1.5s ease-in-out infinite;
  --animate-ripple: ripple 1.5s ease-out infinite;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);

  @keyframes shine {
    0% {
      left: -75%;
    }
    100% {
      left: 125%;
    }
  }
  @keyframes appear {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes wave {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.15);
      opacity: 0.6;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(59, 130, 246, 0.4);
    }
    70% {
      box-shadow: 0 0 0 10px rgba(59, 130, 246, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(59, 130, 246, 0);
    }
  }
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px)
}

body {
  font-family: var(--font-noto-kufi);
  direction: rtl;
  text-align: right;
}

:lang(en) {
  font-family: var(--font-roboto);
  direction: ltr;
  text-align: left;
}

@layer utilities {
  .section-container {
    @apply max-w-[1440px] mx-auto px-4 sm:px-6 lg:px-8 mt-10 pb-10;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .shine-effect {
    @apply absolute top-0 left-[-75%] w-[15%] h-full bg-white/30 skew-x-[-20deg];
  }

  .primary-btn {
    @apply bg-primary text-white h-10 px-6 rounded-md flex items-center justify-center;
  }

  .secondary-btn {
    @apply text-neutral bg-accentA hover:bg-accentA/90 duration-200 h-10 rounded-md px-6 flex items-center justify-center;
  }

  .responsive-grid {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5;
  }

  .card-style {
    @apply bg-light-gray shadow-xl overflow-hidden rounded-xl relative;
  }
  .card-title {
    @apply text-[0.9375rem] font-medium text-primary;
  }
  .action-btns {
    @apply flex items-center gap-3 absolute -top-20 right-2 duration-200 ease-in-out;
  }
  .btn {
    @apply text-neutral rounded-full bg-primary w-10 h-10 flex items-center justify-center cursor-pointer;
  }

  h3 {
    @apply font-bold text-primary text-[15px] md:text-[1.0625rem];
  }

  .product-label {
    @apply text-neutral px-4 py-1 text-sm bg-accentA rounded-lg;
  }

  .input {
    @apply focus:outline-none focus:placeholder:opacity-0 placeholder:duration-200;
  }

  .filter-btn {
    @apply cursor-pointer py-1 px-3 rounded-sm font-medium text-[0.9375rem] hover:bg-light-gray duration-200 flex-1;
  }

  .auth-btn {
    @apply flex items-center gap-1 w-full text-left p-2 cursor-pointer rounded-md px-2 duration-150;
  }
}

/*---break---*/

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

/*---break---*/

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

/*---break---*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
